MONGODB_URI = 'your mongoDB URI'
ACCESS_TOKEN_SECRET = "your access token secret"
ACCESS_TOKEN_EXPIRY = "your access token expiry"
REFRESH_TOKEN_SECRET = "your refresh token secret"
REFRESH_TOKEN_EXPIRY =  "your refresh token expiry"
REDIS_HOST = "your redis host link"
REDIS_PORT = "your redis port"
REDIS_PASSWORD = "your redis password"
